CDF-Assets/ElectricUtilitiesDemo.json
{"snapshotMetadata":{"bucketIdentifier":null,"flowIdentifier":"104c4b19-daee-453a-87ea-058dc84d7f6b","version":0,"timestamp":1700603636139,"author":null,"comments":null,"link":null},"flowContents":{"identifier":"36399bf2-5b37-4a8e-9611-ee0bcad4914e","instanceIdentifier":null,"name":"ElectricUtilitiesDemo","comments":null,"position":null,"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"ee84987c-40d5-411f-91a8-e32b31a84cc7","instanceIdentifier":null,"name":"ExtractRecordSchema","comments":"","position":{"x":606.0988542999019,"y":722.4439286619929},"type":"org.apache.nifi.processors.standard.ExtractRecordSchema","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2.2.3.11.0-9"},"properties":{"cache-size":"10","record-reader":"99c107a9-8fdf-4de7-b1fd-f52b36e9f6c7"},"propertyDescriptors":{"cache-size":{"name":"cache-size","displayName":"Schema Cache Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"36399bf2-5b37-4a8e-9611-ee0bcad4914e"},{"identifier":"7e109aa7-27f0-4137-b0a3-32293ffa2ae6","instanceIdentifier":null,"name":"PutSQL","comments":"","position":{"x":-752.2632962451969,"y":730.3097626269374},"type":"org.apache.nifi.processors.standard.PutSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2.2.3.11.0-9"},"properties":{"Support Fragmented Transactions":"true","putsql-sql-statement":"CREATE TABLE `default`.`utils_meter_data` (\n    `Date` STRING,\n    `Time` STRING,\n    Global_active_power FLOAT,\n    Global_reactive_power FLOAT,\n    Voltage FLOAT,\n    Global_intensity FLOAT,\n    Sub_metering_1 FLOAT,\n    Sub_metering_2 FLOAT,\n    Sub_metering_3 FLOAT\n)\nSTORED BY ICEBERG;","Batch Size":"100","Obtain Generated Keys":"false","JDBC Connection Pool":"68d7766d-92c7-434d-bf9a-2b701c22de7c","database-session-autocommit":"false","rollback-on-failure":"false"},"propertyDescriptors":{"Support Fragmented Transactions":{"name":"Support Fragmented Transactions","displayName":"Support Fragmented Transactions","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"putsql-sql-statement":{"name":"putsql-sql-statement","displayName":"SQL Statement","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Transaction Timeout":{"name":"Transaction Timeout","displayName":"Transaction Timeout","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Obtain Generated Keys":{"name":"Obtain Generated Keys","displayName":"Obtain Generated Keys","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"JDBC Connection Pool":{"name":"JDBC Connection Pool","displayName":"JDBC Connection Pool","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{"background-color":"#C354FF"},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"36399bf2-5b37-4a8e-9611-ee0bcad4914e"},{"identifier":"752c1120-5448-40b5-94cf-035a5cd2400b","instanceIdentifier":null,"name":"ExtractRecordSchema","comments":"","position":{"x":604.5385410456006,"y":529.6172154625128},"type":"org.apache.nifi.processors.standard.ExtractRecordSchema","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2.2.3.11.0-9"},"properties":{"cache-size":"10","record-reader":"99c107a9-8fdf-4de7-b1fd-f52b36e9f6c7"},"propertyDescriptors":{"cache-size":{"name":"cache-size","displayName":"Schema Cache Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"36399bf2-5b37-4a8e-9611-ee0bcad4914e"},{"identifier":"1f65b332-0b8c-4f77-977b-c738bd30aec7","instanceIdentifier":null,"name":"ESRI - GIS Data for Power Distribution Assets","comments":"","position":{"x":-4.0,"y":525.5},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2.2.3.11.0-9"},"properties":{"use-etag":"false","Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"https://raw.githubusercontent.com/kevinbtalbert/Electric_and_Utilities_System_Demo/main/datasets/sample_gis_power_distribution.csv","Content-Type":"${mime.type}","flow-file-naming-strategy":"URL_PATH","max-idle-connections":"5","Read Timeout":"15 secs","Socket Write Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","Include Date Header":"True","Penalize on \"No Retry\"":"false"},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"resourceDefinition":null},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true,"resourceDefinition":null},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{"background-color":"#05751C"},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Retry","Original","Failure"],"scheduledState":"ENABLED","retryCount":5,"retriedRelationships":["Retry"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"36399bf2-5b37-4a8e-9611-ee0bcad4914e"},{"identifier":"f3516562-b0db-4b8c-8a6c-2e41f6a61842","instanceIdentifier":null,"name":"PutSQL","comments":"","position":{"x":-755.1365377797647,"y":533.4881760110147},"type":"org.apache.nifi.processors.standard.PutSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2.2.3.11.0-9"},"properties":{"Support Fragmented Transactions":"true","putsql-sql-statement":"CREATE TABLE `default`.`utils_esri_data` (\n    Asset_Num INT,\n    Asset_Type STRING,\n    Latitude DOUBLE,\n    Longitude DOUBLE,\n    Status STRING\n)\nSTORED BY ICEBERG;","Batch Size":"100","Obtain Generated Keys":"false","JDBC Connection Pool":"68d7766d-92c7-434d-bf9a-2b701c22de7c","database-session-autocommit":"false","rollback-on-failure":"false"},"propertyDescriptors":{"Support Fragmented Transactions":{"name":"Support Fragmented Transactions","displayName":"Support Fragmented Transactions","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"putsql-sql-statement":{"name":"putsql-sql-statement","displayName":"SQL Statement","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Transaction Timeout":{"name":"Transaction Timeout","displayName":"Transaction Timeout","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Obtain Generated Keys":{"name":"Obtain Generated Keys","displayName":"Obtain Generated Keys","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"JDBC Connection Pool":{"name":"JDBC Connection Pool","displayName":"JDBC Connection Pool","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{"background-color":"#C354FF"},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"36399bf2-5b37-4a8e-9611-ee0bcad4914e"},{"identifier":"fd2c7d24-b7ed-4f8f-bb04-cf148650134d","instanceIdentifier":null,"name":"PostSlack","comments":"","position":{"x":2253.9591018217693,"y":978.1460711262275},"type":"org.apache.nifi.processors.slack.PostSlack","bundle":{"group":"org.apache.nifi","artifact":"nifi-slack-nar","version":"1.23.2.2.3.11.0-9"},"properties":{"file-upload-url":"https://slack.com/api/files.upload","file-mime-type":"${mime.type}","channel":"#{DEMONSTRATION ONLY}","upload-flowfile":"false","access-token":"#{DEMONSTRATION ONLY}","file-name":"${filename}","post-message-url":"https://slack.com/api/chat.postMessage"},"propertyDescriptors":{"file-title":{"name":"file-title","displayName":"File Title","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"file-upload-url":{"name":"file-upload-url","displayName":"File Upload URL","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"file-mime-type":{"name":"file-mime-type","displayName":"File Mime Type","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"channel":{"name":"channel","displayName":"Channel","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"upload-flowfile":{"name":"upload-flowfile","displayName":"Upload FlowFile","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"access-token":{"name":"access-token","displayName":"Access Token","identifiesControllerService":false,"sensitive":true,"resourceDefinition":null},"text":{"name":"text","displayName":"Text","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"file-name":{"name":"file-name","displayName":"File Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"post-message-url":{"name":"post-message-url","displayName":"Post Message URL","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"36399bf2-5b37-4a8e-9611-ee0bcad4914e"},{"identifier":"e9bca93a-a9ca-413c-b3da-cddf15f920c7","instanceIdentifier":null,"name":"ExecuteSQL","comments":"","position":{"x":1373.1903165085946,"y":1343.955654908988},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2.2.3.11.0-9"},"properties":{"esql-max-rows":"0","compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-normalize":"false","dbf-default-scale":"0"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"36399bf2-5b37-4a8e-9611-ee0bcad4914e"},{"identifier":"483f748a-55d3-40e4-a43c-3fdd3a7161ac","instanceIdentifier":null,"name":"GenerateFlowFile","comments":"","position":{"x":-1362.8409623032965,"y":730.3097378012176},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2.2.3.11.0-9"},"properties":{"character-set":"UTF-8","File Size":"0B","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{"background-color":"#C354FF"},"annotationData":null,"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"36399bf2-5b37-4a8e-9611-ee0bcad4914e"},{"identifier":"e68e0bac-0907-432a-8a95-ec346c7d1efd","instanceIdentifier":null,"name":"GenerateFlowFile","comments":"","position":{"x":-1362.8410827412788,"y":924.2580110881845},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2.2.3.11.0-9"},"properties":{"character-set":"UTF-8","File Size":"0B","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{"background-color":"#C354FF"},"annotationData":null,"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"36399bf2-5b37-4a8e-9611-ee0bcad4914e"},{"identifier":"d996d8ac-0032-4317-bc0c-a91584a7695d","instanceIdentifier":null,"name":"ADMS - Power Lines Data","comments":"","position":{"x":-5.0,"y":325.5},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2.2.3.11.0-9"},"properties":{"use-etag":"false","Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"https://raw.githubusercontent.com/kevinbtalbert/Electric_and_Utilities_System_Demo/main/datasets/U.S._Electric_Power_Transmission_Lines.csv","Content-Type":"${mime.type}","flow-file-naming-strategy":"URL_PATH","max-idle-connections":"5","Read Timeout":"15 secs","Socket Write Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","Include Date Header":"True","Penalize on \"No Retry\"":"false"},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"resourceDefinition":null},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true,"resourceDefinition":null},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{"background-color":"#05751C"},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Retry","Original","Failure"],"scheduledState":"ENABLED","retryCount":5,"retriedRelationships":["Retry"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"36399bf2-5b37-4a8e-9611-ee0bcad4914e"},{"identifier":"26de61f2-5675-45dc-b2af-4c8d4576f04f","instanceIdentifier":null,"name":"ConsumeKafka_2_6","comments":"","position":{"x":2830.975588457375,"y":600.8775429665278},"type":"org.apache.nifi.processors.kafka.pubsub.ConsumeKafka_2_6","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-6-nar","version":"1.23.2.2.3.11.0-9"},"properties":{"Commit Offsets":"true","max.poll.records":"10000","group.id":"1","bootstrap.servers":"#{Kafka Broker Endpoints}","topic_type":"names","security.protocol":"PLAINTEXT","max-uncommit-offset-wait":"1 secs","sasl.mechanism":"GSSAPI","sasl.token.auth":"false","honor-transactions":"true","Communications Timeout":"60 secs","topic":"outages","separate-by-key":"false","message-header-encoding":"UTF-8","key-attribute-encoding":"utf-8","auto.offset.reset":"latest"},"propertyDescriptors":{"header-name-regex":{"name":"header-name-regex","displayName":"Headers to Add as Attributes (Regex)","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Commit Offsets":{"name":"Commit Offsets","displayName":"Commit Offsets","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"group.id":{"name":"group.id","displayName":"Group ID","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"topic_type":{"name":"topic_type","displayName":"Topic Name Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"max-uncommit-offset-wait":{"name":"max-uncommit-offset-wait","displayName":"Max Uncommitted Time","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"honor-transactions":{"name":"honor-transactions","displayName":"Honor Transactions","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"message-demarcator":{"name":"message-demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"max.poll.records":{"name":"max.poll.records","displayName":"Max Poll Records","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"aws.profile.name":{"name":"aws.profile.name","displayName":"AWS Profile Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Authentication","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"topic":{"name":"topic","displayName":"Topic Name(s)","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"separate-by-key":{"name":"separate-by-key","displayName":"Separate By Key","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"resourceDefinition":null},"key-attribute-encoding":{"name":"key-attribute-encoding","displayName":"Key Attribute Encoding","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"auto.offset.reset":{"name":"auto.offset.reset","displayName":"Offset Reset","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{"background-color":"#FF0000"},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"36399bf2-5b37-4a8e-9611-ee0bcad4914e"},{"identifier":"85d90800-abfb-43ca-a84e-0bf6bd2b01f6","instanceIdentifier":null,"name":"GenerateFlowFile","comments":"","position":{"x":-1362.8410321816355,"y":126.91511532517654},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2.2.3.11.0-9"},"properties":{"character-set":"UTF-8","File Size":"0B","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{"background-color":"#C354FF"},"annotationData":null,"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"36399bf2-5b37-4a8e-9611-ee0bcad4914e"},{"identifier":"69e04da5-e84f-4ae0-b412-c47ab4284170","instanceIdentifier":null,"name":"JoinEnrichment","comments":"","position":{"x":-2.1281873274004965,"y":1342.3855606586264},"type":"org.apache.nifi.processors.standard.JoinEnrichment","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2.2.3.11.0-9"},"properties":{"dbf-default-precision":"10","Join Strategy":"Wrapper","Insertion Record Path":"/","Timeout":"10 min","Original Record Reader":null,"Record Writer":null,"Enrichment Record Reader":null,"dbf-default-scale":"0","Maximum number of Bins":"10000","SQL":"SELECT original.*, enrichment.* \nFROM original \nLEFT OUTER JOIN enrichment \nON original.id = enrichment.id"},"propertyDescriptors":{"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Join Strategy":{"name":"Join Strategy","displayName":"Join Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Insertion Record Path":{"name":"Insertion Record Path","displayName":"Insertion Record Path","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Timeout":{"name":"Timeout","displayName":"Timeout","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Original Record Reader":{"name":"Original Record Reader","displayName":"Original Record Reader","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"Enrichment Record Reader":{"name":"Enrichment Record Reader","displayName":"Enrichment Record Reader","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Maximum number of Bins":{"name":"Maximum number of Bins","displayName":"Maximum number of Bins","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"SQL":{"name":"SQL","displayName":"SQL","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"36399bf2-5b37-4a8e-9611-ee0bcad4914e"},{"identifier":"eb78a26b-e2dc-4bfa-a047-bb76d885388a","instanceIdentifier":null,"name":"GenerateFlowFile","comments":"","position":{"x":2257.7931726291463,"y":197.31117294374377},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2.2.3.11.0-9"},"properties":{"character-set":"UTF-8","Unique FlowFiles":"false","File Size":"0B","generate-ff-custom-text":"{\t\"meter_id\": \"${random():mod(10):toNumber():plus(1)}\",\n\t\"meter_description\": \"Utilities Meter\",\n\t\"meter_location\": \"Fairfax, IL\",\n\t\"meter_datetime_outage_reported\": \"2023-11-11\"\n}","Data Format":"Text","Batch Size":"1"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{"background-color":"#FF0000"},"annotationData":null,"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"36399bf2-5b37-4a8e-9611-ee0bcad4914e"},{"identifier":"068a712b-1427-49c7-a559-1a4e02f89c94","instanceIdentifier":null,"name":"ORS - Outage Reporting System","comments":"","position":{"x":-4.0,"y":127.5},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2.2.3.11.0-9"},"properties":{"use-etag":"false","Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"https://raw.githubusercontent.com/kevinbtalbert/Electric_and_Utilities_System_Demo/main/datasets/openei_utility_info_export_as_of_2015_08_28_1.csv","Content-Type":"${mime.type}","flow-file-naming-strategy":"URL_PATH","max-idle-connections":"5","Read Timeout":"15 secs","Socket Write Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","Include Date Header":"True","Penalize on \"No Retry\"":"false"},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"resourceDefinition":null},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true,"resourceDefinition":null},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{"background-color":"#05751C"},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Retry","Original","Failure"],"scheduledState":"ENABLED","retryCount":5,"retriedRelationships":["Retry"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"36399bf2-5b37-4a8e-9611-ee0bcad4914e"},{"identifier":"48b2c1b1-e82b-497b-b45f-96cb892808c7","instanceIdentifier":null,"name":"Power and Meter Consumption Data","comments":"","position":{"x":-4.0,"y":721.5},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2.2.3.11.0-9"},"properties":{"use-etag":"false","Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"https://raw.githubusercontent.com/kevinbtalbert/Electric_and_Utilities_System_Demo/main/datasets/household_power_consumption.csv","Content-Type":"${mime.type}","flow-file-naming-strategy":"URL_PATH","max-idle-connections":"5","Read Timeout":"15 secs","Socket Write Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","Include Date Header":"True","Penalize on \"No Retry\"":"false"},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"resourceDefinition":null},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true,"resourceDefinition":null},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{"background-color":"#05751C"},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Retry","Original","Failure"],"scheduledState":"ENABLED","retryCount":5,"retriedRelationships":["Retry"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"36399bf2-5b37-4a8e-9611-ee0bcad4914e"},{"identifier":"bb8682ec-6d5c-49b3-b7c1-74e9529464b2","instanceIdentifier":null,"name":"PublishKafka_2_6","comments":"","position":{"x":2830.751320552784,"y":201.6210821646319},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafka_2_6","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-6-nar","version":"1.23.2.2.3.11.0-9"},"properties":{"compression.type":"none","ack.wait.time":"5 secs","use-transactions":"true","acks":"all","bootstrap.servers":"#{Kafka Broker Endpoints}","security.protocol":"PLAINTEXT","max.request.size":"1 MB","partition":"1","sasl.mechanism":"GSSAPI","sasl.token.auth":"false","max.block.ms":"5 sec","Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","topic":"outages","message-header-encoding":"UTF-8","key-attribute-encoding":"utf-8"},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"kafka-key":{"name":"kafka-key","displayName":"Kafka Key","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"message-demarcator":{"name":"message-demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"transactional-id-prefix":{"name":"transactional-id-prefix","displayName":"Transactional Id Prefix","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"use-transactions":{"name":"use-transactions","displayName":"Use Transactions","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"aws.profile.name":{"name":"aws.profile.name","displayName":"AWS Profile Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Authentication","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner class","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"topic":{"name":"topic","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"resourceDefinition":null},"key-attribute-encoding":{"name":"key-attribute-encoding","displayName":"Key Attribute Encoding","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{"background-color":"#FF0000"},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"36399bf2-5b37-4a8e-9611-ee0bcad4914e"},{"identifier":"09d45af8-11d7-4fa9-af2d-91a68a8fcaae","instanceIdentifier":null,"name":"PutSQL","comments":"","position":{"x":-755.1365806889053,"y":329.48332468134294},"type":"org.apache.nifi.processors.standard.PutSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2.2.3.11.0-9"},"properties":{"Support Fragmented Transactions":"true","putsql-sql-statement":"CREATE TABLE `default`.`utils_adms_data` (\n    FID INT,\n    OBJECTID INT,\n    ID INT,\n    TYPE STRING,\n    STATUS STRING,\n    NAICS_CODE INT,\n    NAICS_DESC STRING,\n    SOURCE STRING,\n    SOURCEDATE STRING,\n    VAL_METHOD STRING,\n    VAL_DATE STRING,\n    OWNER STRING,\n    VOLTAGE FLOAT,\n    VOLT_CLASS STRING,\n    INFERRED STRING,\n    SUB_1 STRING,\n    SUB_2 STRING,\n    SHAPE__Len FLOAT,\n    GlobalID STRING,\n    SHAPE_Length FLOAT\n)\nSTORED BY ICEBERG;","Batch Size":"100","Obtain Generated Keys":"false","JDBC Connection Pool":"68d7766d-92c7-434d-bf9a-2b701c22de7c","database-session-autocommit":"false","rollback-on-failure":"false"},"propertyDescriptors":{"Support Fragmented Transactions":{"name":"Support Fragmented Transactions","displayName":"Support Fragmented Transactions","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"putsql-sql-statement":{"name":"putsql-sql-statement","displayName":"SQL Statement","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Transaction Timeout":{"name":"Transaction Timeout","displayName":"Transaction Timeout","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Obtain Generated Keys":{"name":"Obtain Generated Keys","displayName":"Obtain Generated Keys","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"JDBC Connection Pool":{"name":"JDBC Connection Pool","displayName":"JDBC Connection Pool","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{"background-color":"#C354FF"},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"36399bf2-5b37-4a8e-9611-ee0bcad4914e"},{"identifier":"f1fedebe-c5dc-47f0-87ec-eb1f02117141","instanceIdentifier":null,"name":"PutIceberg","comments":"","position":{"x":1203.7466911279769,"y":726.9660541080452},"type":"org.apache.nifi.processors.iceberg.PutIceberg","bundle":{"group":"org.apache.nifi","artifact":"nifi-iceberg-processors-nar","version":"1.23.2.2.3.11.0-9"},"properties":{"number-of-commit-retries":"10","maximum-commit-duration":"30 sec","maximum-commit-wait-time":"2 sec","catalog-service":"b3a01e31-7d4b-441c-bf95-bd3841340150","record-reader":"99c107a9-8fdf-4de7-b1fd-f52b36e9f6c7","table-name":"utils_meter_data","kerberos-user-service":"3e5eaac0-2e8f-4c65-96f6-e4ffd7cdab0c","minimum-commit-wait-time":"100 ms","catalog-namespace":"default"},"propertyDescriptors":{"maximum-file-size":{"name":"maximum-file-size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"number-of-commit-retries":{"name":"number-of-commit-retries","displayName":"Number of Commit Retries","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"maximum-commit-duration":{"name":"maximum-commit-duration","displayName":"Maximum Commit Duration","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"maximum-commit-wait-time":{"name":"maximum-commit-wait-time","displayName":"Maximum Commit Wait Time","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"file-format":{"name":"file-format","displayName":"File Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"catalog-service":{"name":"catalog-service","displayName":"Catalog Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"table-name":{"name":"table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"minimum-commit-wait-time":{"name":"minimum-commit-wait-time","displayName":"Minimum Commit Wait Time","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"catalog-namespace":{"name":"catalog-namespace","displayName":"Catalog Namespace","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{"background-color":"#3500F4"},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"36399bf2-5b37-4a8e-9611-ee0bcad4914e"},{"identifier":"9e0b6154-2418-457d-b677-53fb4a18e727","instanceIdentifier":null,"name":"PutIceberg","comments":"","position":{"x":1205.121551970432,"y":529.891138138566},"type":"org.apache.nifi.processors.iceberg.PutIceberg","bundle":{"group":"org.apache.nifi","artifact":"nifi-iceberg-processors-nar","version":"1.23.2.2.3.11.0-9"},"properties":{"number-of-commit-retries":"10","maximum-commit-duration":"30 sec","maximum-commit-wait-time":"2 sec","catalog-service":"b3a01e31-7d4b-441c-bf95-bd3841340150","record-reader":"99c107a9-8fdf-4de7-b1fd-f52b36e9f6c7","table-name":"utils_esri_data","kerberos-user-service":"3e5eaac0-2e8f-4c65-96f6-e4ffd7cdab0c","minimum-commit-wait-time":"100 ms","catalog-namespace":"default"},"propertyDescriptors":{"maximum-file-size":{"name":"maximum-file-size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"number-of-commit-retries":{"name":"number-of-commit-retries","displayName":"Number of Commit Retries","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"maximum-commit-duration":{"name":"maximum-commit-duration","displayName":"Maximum Commit Duration","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"maximum-commit-wait-time":{"name":"maximum-commit-wait-time","displayName":"Maximum Commit Wait Time","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"file-format":{"name":"file-format","displayName":"File Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"catalog-service":{"name":"catalog-service","displayName":"Catalog Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"table-name":{"name":"table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"minimum-commit-wait-time":{"name":"minimum-commit-wait-time","displayName":"Minimum Commit Wait Time","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"catalog-namespace":{"name":"catalog-namespace","displayName":"Catalog Namespace","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{"background-color":"#3500F4"},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"36399bf2-5b37-4a8e-9611-ee0bcad4914e"},{"identifier":"a6648656-6472-4c93-ae52-b66304bb8dc2","instanceIdentifier":null,"name":"ExtractRecordSchema","comments":"","position":{"x":603.1636285988047,"y":919.4571383373257},"type":"org.apache.nifi.processors.standard.ExtractRecordSchema","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2.2.3.11.0-9"},"properties":{"cache-size":"10","record-reader":"99c107a9-8fdf-4de7-b1fd-f52b36e9f6c7"},"propertyDescriptors":{"cache-size":{"name":"cache-size","displayName":"Schema Cache Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"36399bf2-5b37-4a8e-9611-ee0bcad4914e"},{"identifier":"d353d310-4d1f-4eea-93c2-7eecdef1674c","instanceIdentifier":null,"name":"PutIceberg","comments":"","position":{"x":1204.9360998074085,"y":324.4436146127049},"type":"org.apache.nifi.processors.iceberg.PutIceberg","bundle":{"group":"org.apache.nifi","artifact":"nifi-iceberg-processors-nar","version":"1.23.2.2.3.11.0-9"},"properties":{"number-of-commit-retries":"10","maximum-commit-duration":"30 sec","maximum-commit-wait-time":"2 sec","catalog-service":"b3a01e31-7d4b-441c-bf95-bd3841340150","record-reader":"99c107a9-8fdf-4de7-b1fd-f52b36e9f6c7","table-name":"utils_adms_data","kerberos-user-service":"3e5eaac0-2e8f-4c65-96f6-e4ffd7cdab0c","minimum-commit-wait-time":"100 ms","catalog-namespace":"default"},"propertyDescriptors":{"maximum-file-size":{"name":"maximum-file-size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"number-of-commit-retries":{"name":"number-of-commit-retries","displayName":"Number of Commit Retries","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"maximum-commit-duration":{"name":"maximum-commit-duration","displayName":"Maximum Commit Duration","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"maximum-commit-wait-time":{"name":"maximum-commit-wait-time","displayName":"Maximum Commit Wait Time","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"file-format":{"name":"file-format","displayName":"File Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"catalog-service":{"name":"catalog-service","displayName":"Catalog Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"table-name":{"name":"table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"minimum-commit-wait-time":{"name":"minimum-commit-wait-time","displayName":"Minimum Commit Wait Time","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"catalog-namespace":{"name":"catalog-namespace","displayName":"Catalog Namespace","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{"background-color":"#3500F4"},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"36399bf2-5b37-4a8e-9611-ee0bcad4914e"},{"identifier":"9a9c7b8d-8e74-4add-bca4-fa67161312c1","instanceIdentifier":null,"name":"PutSQL","comments":"","position":{"x":-755.1366546975121,"y":131.2251365738573},"type":"org.apache.nifi.processors.standard.PutSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2.2.3.11.0-9"},"properties":{"Support Fragmented Transactions":"true","putsql-sql-statement":"CREATE TABLE `default`.`utils_ors_data` (\n    utility_company STRING,\n    eia_utility_id STRING,\n    twitter_handle STRING,\n    facebook_page STRING,\n    outage_phone_number STRING,\n    outage_map_url STRING,\n    phone_number STRING,\n    web_site STRING\n) STORED BY ICEBERG;","Batch Size":"100","Obtain Generated Keys":"false","JDBC Connection Pool":"68d7766d-92c7-434d-bf9a-2b701c22de7c","database-session-autocommit":"false","rollback-on-failure":"false"},"propertyDescriptors":{"Support Fragmented Transactions":{"name":"Support Fragmented Transactions","displayName":"Support Fragmented Transactions","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"putsql-sql-statement":{"name":"putsql-sql-statement","displayName":"SQL Statement","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Transaction Timeout":{"name":"Transaction Timeout","displayName":"Transaction Timeout","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Obtain Generated Keys":{"name":"Obtain Generated Keys","displayName":"Obtain Generated Keys","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"JDBC Connection Pool":{"name":"JDBC Connection Pool","displayName":"JDBC Connection Pool","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{"background-color":"#C354FF"},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"36399bf2-5b37-4a8e-9611-ee0bcad4914e"},{"identifier":"acfa0c62-a88f-49a1-a23b-376bdcdd3fb0","instanceIdentifier":null,"name":"PutSQL","comments":"","position":{"x":-753.6999103979683,"y":925.6946715851394},"type":"org.apache.nifi.processors.standard.PutSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2.2.3.11.0-9"},"properties":{"Support Fragmented Transactions":"true","putsql-sql-statement":"CREATE TABLE `default`.`utils_billing_data` (\n    Customer_Num INT,\n    Billing_Start_Date STRING,\n    Billing_End_Date STRING,\n    Previous_Meter_Reading INT,\n    Current_Meter_Reading INT,\n    Usage__kWh_ INT,\n    Total_Charge FLOAT\n)\nSTORED BY ICEBERG;","Batch Size":"100","Obtain Generated Keys":"false","JDBC Connection Pool":"68d7766d-92c7-434d-bf9a-2b701c22de7c","database-session-autocommit":"false","rollback-on-failure":"false"},"propertyDescriptors":{"Support Fragmented Transactions":{"name":"Support Fragmented Transactions","displayName":"Support Fragmented Transactions","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"putsql-sql-statement":{"name":"putsql-sql-statement","displayName":"SQL Statement","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Transaction Timeout":{"name":"Transaction Timeout","displayName":"Transaction Timeout","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Obtain Generated Keys":{"name":"Obtain Generated Keys","displayName":"Obtain Generated Keys","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"JDBC Connection Pool":{"name":"JDBC Connection Pool","displayName":"JDBC Connection Pool","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{"background-color":"#C354FF"},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"36399bf2-5b37-4a8e-9611-ee0bcad4914e"},{"identifier":"bf5581f6-3405-4bf8-9072-fc8bf44eb7d8","instanceIdentifier":null,"name":"PutIceberg","comments":"","position":{"x":1202.248076417584,"y":921.2295658468279},"type":"org.apache.nifi.processors.iceberg.PutIceberg","bundle":{"group":"org.apache.nifi","artifact":"nifi-iceberg-processors-nar","version":"1.23.2.2.3.11.0-9"},"properties":{"number-of-commit-retries":"10","maximum-commit-duration":"30 sec","maximum-commit-wait-time":"2 sec","catalog-service":"b3a01e31-7d4b-441c-bf95-bd3841340150","record-reader":"99c107a9-8fdf-4de7-b1fd-f52b36e9f6c7","table-name":"utils_billing_data","kerberos-user-service":"3e5eaac0-2e8f-4c65-96f6-e4ffd7cdab0c","minimum-commit-wait-time":"100 ms","catalog-namespace":"default"},"propertyDescriptors":{"maximum-file-size":{"name":"maximum-file-size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"number-of-commit-retries":{"name":"number-of-commit-retries","displayName":"Number of Commit Retries","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"maximum-commit-duration":{"name":"maximum-commit-duration","displayName":"Maximum Commit Duration","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"maximum-commit-wait-time":{"name":"maximum-commit-wait-time","displayName":"Maximum Commit Wait Time","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"file-format":{"name":"file-format","displayName":"File Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"catalog-service":{"name":"catalog-service","displayName":"Catalog Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"table-name":{"name":"table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"minimum-commit-wait-time":{"name":"minimum-commit-wait-time","displayName":"Minimum Commit Wait Time","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"catalog-namespace":{"name":"catalog-namespace","displayName":"Catalog Namespace","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{"background-color":"#3500F4"},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"36399bf2-5b37-4a8e-9611-ee0bcad4914e"},{"identifier":"c438c553-a7af-43e9-bec1-d5d7be08a937","instanceIdentifier":null,"name":"ExtractRecordSchema","comments":"","position":{"x":608.1636554821384,"y":131.35744166230097},"type":"org.apache.nifi.processors.standard.ExtractRecordSchema","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2.2.3.11.0-9"},"properties":{"cache-size":"10","record-reader":"99c107a9-8fdf-4de7-b1fd-f52b36e9f6c7"},"propertyDescriptors":{"cache-size":{"name":"cache-size","displayName":"Schema Cache Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"36399bf2-5b37-4a8e-9611-ee0bcad4914e"},{"identifier":"c54a5be8-d0b0-49b8-91f8-37473168b4b8","instanceIdentifier":null,"name":"SAS / SAP Financials and Customer Data","comments":"","position":{"x":-6.0,"y":919.5},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2.2.3.11.0-9"},"properties":{"use-etag":"false","Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"https://raw.githubusercontent.com/kevinbtalbert/Electric_and_Utilities_System_Demo/main/datasets/sample_billing_invoices.csv","Content-Type":"${mime.type}","flow-file-naming-strategy":"URL_PATH","max-idle-connections":"5","Read Timeout":"15 secs","Socket Write Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","Include Date Header":"True","Penalize on \"No Retry\"":"false"},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"resourceDefinition":null},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true,"resourceDefinition":null},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{"background-color":"#05751C"},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Retry","Original","Failure"],"scheduledState":"ENABLED","retryCount":5,"retriedRelationships":["Retry"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"36399bf2-5b37-4a8e-9611-ee0bcad4914e"},{"identifier":"c76bbd23-52e6-474b-9edd-d67bca789284","instanceIdentifier":null,"name":"PutEmail","comments":"","position":{"x":2255.7317030448526,"y":598.2708250789278},"type":"org.apache.nifi.processors.standard.PutEmail","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2.2.3.11.0-9"},"properties":{"SMTP Socket Factory":"javax.net.ssl.SSLSocketFactory","Attach File":"false","input-character-set":"UTF-8","SMTP Port":"25","SMTP Auth":"true","From":"#{Alerts Email}","Include All Attributes In Message":"false","SMTP Hostname":"smtp.gmail.com","Subject":"Outage Alert from NiFi","SMTP X-Mailer Header":"NiFi","oauth2-access-token-provider":null,"Content Type":"text/plain","SMTP Username":"#{Alerts Email Username}","To":"#{Alerts Email Recipient}","SMTP Password":"#{Alerts Email Password}","email-ff-content-as-message":"true","authorization-mode":"password-based-authorization-mode","SMTP TLS":"true"},"propertyDescriptors":{"CC":{"name":"CC","displayName":"CC","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"SMTP Socket Factory":{"name":"SMTP Socket Factory","displayName":"SMTP Socket Factory","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"BCC":{"name":"BCC","displayName":"BCC","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Message":{"name":"Message","displayName":"Message","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Attach File":{"name":"Attach File","displayName":"Attach File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"input-character-set":{"name":"input-character-set","displayName":"Input Character Set","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"SMTP Port":{"name":"SMTP Port","displayName":"SMTP Port","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"SMTP Auth":{"name":"SMTP Auth","displayName":"SMTP Auth","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"From":{"name":"From","displayName":"From","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Include All Attributes In Message":{"name":"Include All Attributes In Message","displayName":"Include All Attributes In Message","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"SMTP Hostname":{"name":"SMTP Hostname","displayName":"SMTP Hostname","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Subject":{"name":"Subject","displayName":"Subject","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"SMTP X-Mailer Header":{"name":"SMTP X-Mailer Header","displayName":"SMTP X-Mailer Header","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"SMTP Username":{"name":"SMTP Username","displayName":"SMTP Username","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"To":{"name":"To","displayName":"To","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"SMTP Password":{"name":"SMTP Password","displayName":"SMTP Password","identifiesControllerService":false,"sensitive":true,"resourceDefinition":null},"email-ff-content-as-message":{"name":"email-ff-content-as-message","displayName":"Flow file content as message","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"authorization-mode":{"name":"authorization-mode","displayName":"Authorization Mode","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"SMTP TLS":{"name":"SMTP TLS","displayName":"SMTP STARTTLS","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{"background-color":"#FF0000"},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"36399bf2-5b37-4a8e-9611-ee0bcad4914e"},{"identifier":"885bb27c-f027-45f9-9eb3-abf3ffc1537b","instanceIdentifier":null,"name":"GenerateFlowFile","comments":"","position":{"x":-1361.4044536419606,"y":532.051511411936},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2.2.3.11.0-9"},"properties":{"character-set":"UTF-8","File Size":"0B","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{"background-color":"#C354FF"},"annotationData":null,"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"36399bf2-5b37-4a8e-9611-ee0bcad4914e"},{"identifier":"92a79a3a-9008-4865-958f-170247bd65aa","instanceIdentifier":null,"name":"PutSplunk","comments":"","position":{"x":679.251067939027,"y":1340.815528646461},"type":"org.apache.nifi.processors.splunk.PutSplunk","bundle":{"group":"org.apache.nifi","artifact":"nifi-splunk-nar","version":"1.23.2.2.3.11.0-9"},"properties":{"Idle Connection Expiration":"15 seconds","Max Size of Socket Send Buffer":"1 MB","Timeout":"10 seconds","Port":null,"Hostname":"localhost","Protocol":"TCP","Character Set":"UTF-8"},"propertyDescriptors":{"Idle Connection Expiration":{"name":"Idle Connection Expiration","displayName":"Idle Connection Expiration","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Max Size of Socket Send Buffer":{"name":"Max Size of Socket Send Buffer","displayName":"Max Size of Socket Send Buffer","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"Timeout":{"name":"Timeout","displayName":"Timeout","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Port":{"name":"Port","displayName":"Port","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Hostname":{"name":"Hostname","displayName":"Hostname","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Protocol":{"name":"Protocol","displayName":"Protocol","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Message Delimiter":{"name":"Message Delimiter","displayName":"Message Delimiter","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"36399bf2-5b37-4a8e-9611-ee0bcad4914e"},{"identifier":"b22eace4-211f-448d-a6eb-70a0e54141ab","instanceIdentifier":null,"name":"GenerateFlowFile","comments":"","position":{"x":-1361.4044124077463,"y":328.0466560653321},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2.2.3.11.0-9"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":null,"Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{"background-color":"#C354FF"},"annotationData":null,"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"36399bf2-5b37-4a8e-9611-ee0bcad4914e"},{"identifier":"3866aea0-5246-42e3-a3a6-9d4d794f276d","instanceIdentifier":null,"name":"UpdateAttribute","comments":"","position":{"x":335.42143440182315,"y":1343.9554784842417},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.23.2.2.3.11.0-9"},"properties":{"Store State":"Do not store state","canonical-value-lookup-cache-size":"100"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"36399bf2-5b37-4a8e-9611-ee0bcad4914e"},{"identifier":"88cbf6e2-8e9f-4b01-953d-336d3c7f83d9","instanceIdentifier":null,"name":"ExecuteScript","comments":"","position":{"x":1030.930674694465,"y":1343.9555744971867},"type":"org.apache.nifi.processors.script.ExecuteScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"1.23.2.2.3.11.0-9"},"properties":{"Script Engine":"Clojure"},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"36399bf2-5b37-4a8e-9611-ee0bcad4914e"},{"identifier":"8a360887-6cb4-4009-a80c-431791a6213e","instanceIdentifier":null,"name":"PutIceberg","comments":"","position":{"x":1202.5927577645864,"y":130.8560770130283},"type":"org.apache.nifi.processors.iceberg.PutIceberg","bundle":{"group":"org.apache.nifi","artifact":"nifi-iceberg-processors-nar","version":"1.23.2.2.3.11.0-9"},"properties":{"number-of-commit-retries":"10","maximum-commit-duration":"30 sec","maximum-commit-wait-time":"2 sec","catalog-service":"b3a01e31-7d4b-441c-bf95-bd3841340150","record-reader":"99c107a9-8fdf-4de7-b1fd-f52b36e9f6c7","table-name":"utils_ors_data","kerberos-user-service":"3e5eaac0-2e8f-4c65-96f6-e4ffd7cdab0c","minimum-commit-wait-time":"100 ms","catalog-namespace":"default"},"propertyDescriptors":{"maximum-file-size":{"name":"maximum-file-size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"number-of-commit-retries":{"name":"number-of-commit-retries","displayName":"Number of Commit Retries","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"maximum-commit-duration":{"name":"maximum-commit-duration","displayName":"Maximum Commit Duration","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"maximum-commit-wait-time":{"name":"maximum-commit-wait-time","displayName":"Maximum Commit Wait Time","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"file-format":{"name":"file-format","displayName":"File Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"catalog-service":{"name":"catalog-service","displayName":"Catalog Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"table-name":{"name":"table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"minimum-commit-wait-time":{"name":"minimum-commit-wait-time","displayName":"Minimum Commit Wait Time","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"catalog-namespace":{"name":"catalog-namespace","displayName":"Catalog Namespace","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"style":{"background-color":"#3500F4"},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"36399bf2-5b37-4a8e-9611-ee0bcad4914e"},{"identifier":"589a2132-eb2e-4b30-9ed1-3f64ff743724","instanceIdentifier":null,"name":"ExtractRecordSchema","comments":"","position":{"x":607.3499697711243,"y":325.54455848623667},"type":"org.apache.nifi.processors.standard.ExtractRecordSchema","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2.2.3.11.0-9"},"properties":{"cache-size":"10","record-reader":"99c107a9-8fdf-4de7-b1fd-f52b36e9f6c7"},"propertyDescriptors":{"cache-size":{"name":"cache-size","displayName":"Schema Cache Size","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"36399bf2-5b37-4a8e-9611-ee0bcad4914e"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"32090700-cf09-48c6-8b89-9a1d19d72e98","instanceIdentifier":null,"name":"","comments":null,"position":null,"source":{"id":"d996d8ac-0032-4317-bc0c-a91584a7695d","type":"PROCESSOR","groupId":"36399bf2-5b37-4a8e-9611-ee0bcad4914e","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"589a2132-eb2e-4b30-9ed1-3f64ff743724","type":"PROCESSOR","groupId":"36399bf2-5b37-4a8e-9611-ee0bcad4914e","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"36399bf2-5b37-4a8e-9611-ee0bcad4914e"},{"identifier":"a09f8096-1383-4b1d-8cff-019a184e7a60","instanceIdentifier":null,"name":"","comments":null,"position":null,"source":{"id":"26de61f2-5675-45dc-b2af-4c8d4576f04f","type":"PROCESSOR","groupId":"36399bf2-5b37-4a8e-9611-ee0bcad4914e","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"c76bbd23-52e6-474b-9edd-d67bca789284","type":"PROCESSOR","groupId":"36399bf2-5b37-4a8e-9611-ee0bcad4914e","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"36399bf2-5b37-4a8e-9611-ee0bcad4914e"},{"identifier":"17c9eeda-467a-46dc-a96e-b20642254841","instanceIdentifier":null,"name":"","comments":null,"position":null,"source":{"id":"c438c553-a7af-43e9-bec1-d5d7be08a937","type":"PROCESSOR","groupId":"36399bf2-5b37-4a8e-9611-ee0bcad4914e","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"8a360887-6cb4-4009-a80c-431791a6213e","type":"PROCESSOR","groupId":"36399bf2-5b37-4a8e-9611-ee0bcad4914e","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"36399bf2-5b37-4a8e-9611-ee0bcad4914e"},{"identifier":"cfc4b426-6efd-4002-99d4-b97de0537b8b","instanceIdentifier":null,"name":"","comments":null,"position":null,"source":{"id":"9a9c7b8d-8e74-4add-bca4-fa67161312c1","type":"PROCESSOR","groupId":"36399bf2-5b37-4a8e-9611-ee0bcad4914e","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"b661bb29-487f-4159-81a4-fa797aad0622","type":"FUNNEL","groupId":"36399bf2-5b37-4a8e-9611-ee0bcad4914e","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"36399bf2-5b37-4a8e-9611-ee0bcad4914e"},{"identifier":"725ac47c-5d18-4238-8a89-9d0cb6568513","instanceIdentifier":null,"name":"","comments":null,"position":null,"source":{"id":"1f65b332-0b8c-4f77-977b-c738bd30aec7","type":"PROCESSOR","groupId":"36399bf2-5b37-4a8e-9611-ee0bcad4914e","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"752c1120-5448-40b5-94cf-035a5cd2400b","type":"PROCESSOR","groupId":"36399bf2-5b37-4a8e-9611-ee0bcad4914e","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"36399bf2-5b37-4a8e-9611-ee0bcad4914e"},{"identifier":"fee36a4b-aea7-41ef-a266-70cef2bed44c","instanceIdentifier":null,"name":"","comments":null,"position":null,"source":{"id":"c76bbd23-52e6-474b-9edd-d67bca789284","type":"PROCESSOR","groupId":"36399bf2-5b37-4a8e-9611-ee0bcad4914e","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"31abc32a-cc2f-488f-9747-64e602bdac27","type":"FUNNEL","groupId":"36399bf2-5b37-4a8e-9611-ee0bcad4914e","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"36399bf2-5b37-4a8e-9611-ee0bcad4914e"},{"identifier":"e7057b97-33cf-42d9-991a-8f621af4f85d","instanceIdentifier":null,"name":"","comments":null,"position":null,"source":{"id":"eb78a26b-e2dc-4bfa-a047-bb76d885388a","type":"PROCESSOR","groupId":"36399bf2-5b37-4a8e-9611-ee0bcad4914e","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"c76bbd23-52e6-474b-9edd-d67bca789284","type":"PROCESSOR","groupId":"36399bf2-5b37-4a8e-9611-ee0bcad4914e","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"36399bf2-5b37-4a8e-9611-ee0bcad4914e"},{"identifier":"14e7e665-1e2f-42c9-8bc6-c25684281fcc","instanceIdentifier":null,"name":"","comments":null,"position":null,"source":{"id":"85d90800-abfb-43ca-a84e-0bf6bd2b01f6","type":"PROCESSOR","groupId":"36399bf2-5b37-4a8e-9611-ee0bcad4914e","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"9a9c7b8d-8e74-4add-bca4-fa67161312c1","type":"PROCESSOR","groupId":"36399bf2-5b37-4a8e-9611-ee0bcad4914e","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"36399bf2-5b37-4a8e-9611-ee0bcad4914e"},{"identifier":"0867927c-baf2-4d20-85e8-5c870444bd60","instanceIdentifier":null,"name":"","comments":null,"position":null,"source":{"id":"eb78a26b-e2dc-4bfa-a047-bb76d885388a","type":"PROCESSOR","groupId":"36399bf2-5b37-4a8e-9611-ee0bcad4914e","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"bb8682ec-6d5c-49b3-b7c1-74e9529464b2","type":"PROCESSOR","groupId":"36399bf2-5b37-4a8e-9611-ee0bcad4914e","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"36399bf2-5b37-4a8e-9611-ee0bcad4914e"},{"identifier":"ab4ef8e8-cd3b-4d56-84ab-934599438d1a","instanceIdentifier":null,"name":"","comments":null,"position":null,"source":{"id":"f1fedebe-c5dc-47f0-87ec-eb1f02117141","type":"PROCESSOR","groupId":"36399bf2-5b37-4a8e-9611-ee0bcad4914e","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"e22e8680-80fe-44da-b78e-296d9bf68e7c","type":"FUNNEL","groupId":"36399bf2-5b37-4a8e-9611-ee0bcad4914e","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"36399bf2-5b37-4a8e-9611-ee0bcad4914e"},{"identifier":"ebf9ece4-1220-4c87-8122-fbb3e7a23ad1","instanceIdentifier":null,"name":"","comments":null,"position":null,"source":{"id":"8a360887-6cb4-4009-a80c-431791a6213e","type":"PROCESSOR","groupId":"36399bf2-5b37-4a8e-9611-ee0bcad4914e","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"e22e8680-80fe-44da-b78e-296d9bf68e7c","type":"FUNNEL","groupId":"36399bf2-5b37-4a8e-9611-ee0bcad4914e","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"36399bf2-5b37-4a8e-9611-ee0bcad4914e"},{"identifier":"b99394fd-9148-4db0-a626-2546353dfa29","instanceIdentifier":null,"name":"","comments":null,"position":null,"source":{"id":"b22eace4-211f-448d-a6eb-70a0e54141ab","type":"PROCESSOR","groupId":"36399bf2-5b37-4a8e-9611-ee0bcad4914e","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"09d45af8-11d7-4fa9-af2d-91a68a8fcaae","type":"PROCESSOR","groupId":"36399bf2-5b37-4a8e-9611-ee0bcad4914e","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"36399bf2-5b37-4a8e-9611-ee0bcad4914e"},{"identifier":"fc1fbee4-593f-4a00-a386-e7e3408b5721","instanceIdentifier":null,"name":"","comments":null,"position":null,"source":{"id":"ee84987c-40d5-411f-91a8-e32b31a84cc7","type":"PROCESSOR","groupId":"36399bf2-5b37-4a8e-9611-ee0bcad4914e","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"f1fedebe-c5dc-47f0-87ec-eb1f02117141","type":"PROCESSOR","groupId":"36399bf2-5b37-4a8e-9611-ee0bcad4914e","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"36399bf2-5b37-4a8e-9611-ee0bcad4914e"},{"identifier":"195a6adc-a796-4508-aedd-37759d59732d","instanceIdentifier":null,"name":"","comments":null,"position":null,"source":{"id":"bf5581f6-3405-4bf8-9072-fc8bf44eb7d8","type":"PROCESSOR","groupId":"36399bf2-5b37-4a8e-9611-ee0bcad4914e","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"e22e8680-80fe-44da-b78e-296d9bf68e7c","type":"FUNNEL","groupId":"36399bf2-5b37-4a8e-9611-ee0bcad4914e","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"36399bf2-5b37-4a8e-9611-ee0bcad4914e"},{"identifier":"75010d21-4cd5-4129-ab6e-4f2fa6138d1f","instanceIdentifier":null,"name":"","comments":null,"position":null,"source":{"id":"9e0b6154-2418-457d-b677-53fb4a18e727","type":"PROCESSOR","groupId":"36399bf2-5b37-4a8e-9611-ee0bcad4914e","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"e22e8680-80fe-44da-b78e-296d9bf68e7c","type":"FUNNEL","groupId":"36399bf2-5b37-4a8e-9611-ee0bcad4914e","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"36399bf2-5b37-4a8e-9611-ee0bcad4914e"},{"identifier":"aed73767-8a84-482e-bbf0-033e48697ee2","instanceIdentifier":null,"name":"","comments":null,"position":null,"source":{"id":"589a2132-eb2e-4b30-9ed1-3f64ff743724","type":"PROCESSOR","groupId":"36399bf2-5b37-4a8e-9611-ee0bcad4914e","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"d353d310-4d1f-4eea-93c2-7eecdef1674c","type":"PROCESSOR","groupId":"36399bf2-5b37-4a8e-9611-ee0bcad4914e","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"36399bf2-5b37-4a8e-9611-ee0bcad4914e"},{"identifier":"128a64e3-4974-44c6-8bd4-6973a837a9f0","instanceIdentifier":null,"name":"","comments":null,"position":null,"source":{"id":"a6648656-6472-4c93-ae52-b66304bb8dc2","type":"PROCESSOR","groupId":"36399bf2-5b37-4a8e-9611-ee0bcad4914e","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"bf5581f6-3405-4bf8-9072-fc8bf44eb7d8","type":"PROCESSOR","groupId":"36399bf2-5b37-4a8e-9611-ee0bcad4914e","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"36399bf2-5b37-4a8e-9611-ee0bcad4914e"},{"identifier":"3a619a7f-e869-4de0-b4ca-41abcd8ffa7c","instanceIdentifier":null,"name":"","comments":null,"position":null,"source":{"id":"f3516562-b0db-4b8c-8a6c-2e41f6a61842","type":"PROCESSOR","groupId":"36399bf2-5b37-4a8e-9611-ee0bcad4914e","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"b661bb29-487f-4159-81a4-fa797aad0622","type":"FUNNEL","groupId":"36399bf2-5b37-4a8e-9611-ee0bcad4914e","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"36399bf2-5b37-4a8e-9611-ee0bcad4914e"},{"identifier":"d657a2df-3d22-4435-a5bf-d46ef081c467","instanceIdentifier":null,"name":"","comments":null,"position":null,"source":{"id":"068a712b-1427-49c7-a559-1a4e02f89c94","type":"PROCESSOR","groupId":"36399bf2-5b37-4a8e-9611-ee0bcad4914e","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"c438c553-a7af-43e9-bec1-d5d7be08a937","type":"PROCESSOR","groupId":"36399bf2-5b37-4a8e-9611-ee0bcad4914e","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"36399bf2-5b37-4a8e-9611-ee0bcad4914e"},{"identifier":"bde33c9f-d544-4c10-8c97-1ebb890f8157","instanceIdentifier":null,"name":"","comments":null,"position":null,"source":{"id":"48b2c1b1-e82b-497b-b45f-96cb892808c7","type":"PROCESSOR","groupId":"36399bf2-5b37-4a8e-9611-ee0bcad4914e","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"ee84987c-40d5-411f-91a8-e32b31a84cc7","type":"PROCESSOR","groupId":"36399bf2-5b37-4a8e-9611-ee0bcad4914e","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"36399bf2-5b37-4a8e-9611-ee0bcad4914e"},{"identifier":"671f77bf-ca57-4e7e-a775-043f80a1dfd7","instanceIdentifier":null,"name":"","comments":null,"position":null,"source":{"id":"752c1120-5448-40b5-94cf-035a5cd2400b","type":"PROCESSOR","groupId":"36399bf2-5b37-4a8e-9611-ee0bcad4914e","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"9e0b6154-2418-457d-b677-53fb4a18e727","type":"PROCESSOR","groupId":"36399bf2-5b37-4a8e-9611-ee0bcad4914e","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"36399bf2-5b37-4a8e-9611-ee0bcad4914e"},{"identifier":"7b7f21ad-f935-4480-abd3-f2f639b2bb07","instanceIdentifier":null,"name":"","comments":null,"position":null,"source":{"id":"7e109aa7-27f0-4137-b0a3-32293ffa2ae6","type":"PROCESSOR","groupId":"36399bf2-5b37-4a8e-9611-ee0bcad4914e","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"b661bb29-487f-4159-81a4-fa797aad0622","type":"FUNNEL","groupId":"36399bf2-5b37-4a8e-9611-ee0bcad4914e","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"36399bf2-5b37-4a8e-9611-ee0bcad4914e"},{"identifier":"733f2dff-a6b1-4e6a-baa2-987c02734275","instanceIdentifier":null,"name":"","comments":null,"position":null,"source":{"id":"483f748a-55d3-40e4-a43c-3fdd3a7161ac","type":"PROCESSOR","groupId":"36399bf2-5b37-4a8e-9611-ee0bcad4914e","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"7e109aa7-27f0-4137-b0a3-32293ffa2ae6","type":"PROCESSOR","groupId":"36399bf2-5b37-4a8e-9611-ee0bcad4914e","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"36399bf2-5b37-4a8e-9611-ee0bcad4914e"},{"identifier":"652a4b0b-4260-471c-bff1-e5bcfe678354","instanceIdentifier":null,"name":"","comments":null,"position":null,"source":{"id":"d353d310-4d1f-4eea-93c2-7eecdef1674c","type":"PROCESSOR","groupId":"36399bf2-5b37-4a8e-9611-ee0bcad4914e","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"e22e8680-80fe-44da-b78e-296d9bf68e7c","type":"FUNNEL","groupId":"36399bf2-5b37-4a8e-9611-ee0bcad4914e","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"36399bf2-5b37-4a8e-9611-ee0bcad4914e"},{"identifier":"7ff5ed0d-293b-424e-a24b-82e690fc2b8f","instanceIdentifier":null,"name":"","comments":null,"position":null,"source":{"id":"c54a5be8-d0b0-49b8-91f8-37473168b4b8","type":"PROCESSOR","groupId":"36399bf2-5b37-4a8e-9611-ee0bcad4914e","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"a6648656-6472-4c93-ae52-b66304bb8dc2","type":"PROCESSOR","groupId":"36399bf2-5b37-4a8e-9611-ee0bcad4914e","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"36399bf2-5b37-4a8e-9611-ee0bcad4914e"},{"identifier":"a5afd794-41e9-43f0-9071-e715c56015a1","instanceIdentifier":null,"name":"","comments":null,"position":null,"source":{"id":"09d45af8-11d7-4fa9-af2d-91a68a8fcaae","type":"PROCESSOR","groupId":"36399bf2-5b37-4a8e-9611-ee0bcad4914e","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"b661bb29-487f-4159-81a4-fa797aad0622","type":"FUNNEL","groupId":"36399bf2-5b37-4a8e-9611-ee0bcad4914e","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"36399bf2-5b37-4a8e-9611-ee0bcad4914e"},{"identifier":"aa7c200c-7b1c-470f-b94e-8a99e361b094","instanceIdentifier":null,"name":"","comments":null,"position":null,"source":{"id":"885bb27c-f027-45f9-9eb3-abf3ffc1537b","type":"PROCESSOR","groupId":"36399bf2-5b37-4a8e-9611-ee0bcad4914e","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"f3516562-b0db-4b8c-8a6c-2e41f6a61842","type":"PROCESSOR","groupId":"36399bf2-5b37-4a8e-9611-ee0bcad4914e","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"36399bf2-5b37-4a8e-9611-ee0bcad4914e"},{"identifier":"59e5244d-4828-42c5-8170-2a7a8a9fe8eb","instanceIdentifier":null,"name":"","comments":null,"position":null,"source":{"id":"acfa0c62-a88f-49a1-a23b-376bdcdd3fb0","type":"PROCESSOR","groupId":"36399bf2-5b37-4a8e-9611-ee0bcad4914e","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"b661bb29-487f-4159-81a4-fa797aad0622","type":"FUNNEL","groupId":"36399bf2-5b37-4a8e-9611-ee0bcad4914e","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"36399bf2-5b37-4a8e-9611-ee0bcad4914e"},{"identifier":"bfbdfbec-b28d-46da-b275-a9e83d40c0b6","instanceIdentifier":null,"name":"","comments":null,"position":null,"source":{"id":"e68e0bac-0907-432a-8a95-ec346c7d1efd","type":"PROCESSOR","groupId":"36399bf2-5b37-4a8e-9611-ee0bcad4914e","name":null,"comments":null,"instanceIdentifier":null},"destination":{"id":"acfa0c62-a88f-49a1-a23b-376bdcdd3fb0","type":"PROCESSOR","groupId":"36399bf2-5b37-4a8e-9611-ee0bcad4914e","name":null,"comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"36399bf2-5b37-4a8e-9611-ee0bcad4914e"}],"labels":[{"identifier":"fb5a361c-b3bd-4f10-bbd5-75050153c0d0","instanceIdentifier":null,"name":null,"comments":null,"position":{"x":-1.8934156967150102,"y":70.35616714538833},"label":"Data Ingest Process for Simulating Multiple Electric and Utilities Data Source Use Cases\n\nRUN ONCE","zIndex":null,"width":1504.0,"height":40.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"36399bf2-5b37-4a8e-9611-ee0bcad4914e"},{"identifier":"e5373305-0d80-4188-bc24-07eaafa8ed10","instanceIdentifier":null,"name":null,"comments":null,"position":{"x":2546.6988192856916,"y":91.79707511518717},"label":"REAL TIME OUTAGE ALERTS","zIndex":null,"width":288.0,"height":40.0,"style":{"font-size":"20px"},"componentType":"LABEL","groupIdentifier":"36399bf2-5b37-4a8e-9611-ee0bcad4914e"},{"identifier":"bb437500-753b-481c-afd9-642253a1450b","instanceIdentifier":null,"name":null,"comments":null,"position":{"x":334.42146907563347,"y":1279.5757537565025},"label":"Update record attributes of incoming data\nDISABLED","zIndex":null,"width":304.0,"height":40.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"36399bf2-5b37-4a8e-9611-ee0bcad4914e"},{"identifier":"3301453e-b895-4305-8931-6f2a892157fa","instanceIdentifier":null,"name":null,"comments":null,"position":{"x":-1248.9269482548514,"y":19.577151083308763},"label":"PRE-SETUP: CREATE DATABASE TABLES TO HOLD INCOMING DATA","zIndex":null,"width":664.0,"height":40.0,"style":{"font-size":"20px"},"componentType":"LABEL","groupIdentifier":"36399bf2-5b37-4a8e-9611-ee0bcad4914e"},{"identifier":"9aeffa15-4642-486b-a1c0-f01413511773","instanceIdentifier":null,"name":null,"comments":null,"position":{"x":1373.7603195581712,"y":1282.7156619357718},"label":"Execute SQL query on data\nDISABLED","zIndex":null,"width":304.0,"height":40.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"36399bf2-5b37-4a8e-9611-ee0bcad4914e"},{"identifier":"52413d1b-0aac-4f10-9579-ef48e781e2ec","instanceIdentifier":null,"name":null,"comments":null,"position":{"x":-1361.9837332851507,"y":1156.129373591551},"label":"USE below SQL for already existing tables in CDW:\nDROP Table `default`.utils_adms_data;\nDROP Table `default`.utils_billing_data;\nDROP Table `default`.utils_esri_data;\nDROP Table `default`.utils_meter_data;\nDROP Table `default`.utils_ors_data;\n","zIndex":null,"width":304.0,"height":120.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"36399bf2-5b37-4a8e-9611-ee0bcad4914e"},{"identifier":"1571dd84-d548-4abf-a243-18cc59f9ea62","instanceIdentifier":null,"name":null,"comments":null,"position":{"x":-1363.4200879322093,"y":75.76572847902435},"label":"Create Iceberg table statements for housing electric and utilities datasets\n\nRUN GenerateFlowFile ONCE, Turn PutSQL ON","zIndex":null,"width":912.0,"height":40.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"36399bf2-5b37-4a8e-9611-ee0bcad4914e"},{"identifier":"1be84947-ec92-46d4-8573-db6de8b209a3","instanceIdentifier":null,"name":null,"comments":null,"position":{"x":-1.818814204900491,"y":1281.1457305823315},"label":"Join datasets (flow files) for aggregate dataset\nDISABLED","zIndex":null,"width":304.0,"height":40.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"36399bf2-5b37-4a8e-9611-ee0bcad4914e"},{"identifier":"e2f8eb12-eeb2-4079-bf93-97c5bcc31de6","instanceIdentifier":null,"name":null,"comments":null,"position":{"x":578.7692963847949,"y":1202.0258557932582},"label":"OTHER SAMPLE OUTCOMES (Demonstrational Only)","zIndex":null,"width":496.0,"height":40.0,"style":{"font-size":"20px"},"componentType":"LABEL","groupIdentifier":"36399bf2-5b37-4a8e-9611-ee0bcad4914e"},{"identifier":"2ab902b8-e651-40e4-8635-09cfb7c6780f","instanceIdentifier":null,"name":null,"comments":null,"position":{"x":1029.9308209535825,"y":1281.1459285850458},"label":"Execute Groovy, Python, Ruby, etc Script on data\nDISABLED","zIndex":null,"width":304.0,"height":40.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"36399bf2-5b37-4a8e-9611-ee0bcad4914e"},{"identifier":"6d581dcb-6fb3-48ae-99d0-cbf81194fa9e","instanceIdentifier":null,"name":null,"comments":null,"position":{"x":678.2511122275637,"y":1281.1458636080085},"label":"Push data to Splunk indexers\nDISABLED","zIndex":null,"width":304.0,"height":40.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"36399bf2-5b37-4a8e-9611-ee0bcad4914e"},{"identifier":"6926468c-1977-47aa-abf5-a532b54f4e1d","instanceIdentifier":null,"name":null,"comments":null,"position":{"x":2239.709011363259,"y":924.7561869118182},"label":"Slack can be used to push outage alerts to channels/users\nLeave processor disabled.","zIndex":null,"width":344.0,"height":40.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"36399bf2-5b37-4a8e-9611-ee0bcad4914e"},{"identifier":"cbc6499c-f774-459c-b777-a2f07256fd72","instanceIdentifier":null,"name":null,"comments":null,"position":{"x":605.8111538845764,"y":-527.2917057794164},"label":"Demonstrate showing how to load inbound data \ninto Iceberg table for CDW Processing\n\nRUN ONCE","zIndex":null,"width":304.0,"height":64.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"36399bf2-5b37-4a8e-9611-ee0bcad4914e"},{"identifier":"1f8376d3-0673-4728-a4dd-25ccfa2f11eb","instanceIdentifier":null,"name":null,"comments":null,"position":{"x":2253.653122849859,"y":146.49880564550105},"label":"Simulate meter outage event pushed to Kafka topic\n\nRUN GenerateFlowFile ONCE, Publish Kafka Topic Processor is just a sample (Can be utilized if you set up SSM)","zIndex":null,"width":880.0,"height":40.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"36399bf2-5b37-4a8e-9611-ee0bcad4914e"},{"identifier":"fb54008d-848e-4433-b6ea-1dfc7426115f","instanceIdentifier":null,"name":null,"comments":null,"position":{"x":352.72359362068164,"y":16.14917332578517},"label":"INGEST DATA FROM DISPARATE DATA SOURCES AND STORE TO DATA WAREHOUSE","zIndex":null,"width":792.0,"height":40.0,"style":{"font-size":"20px"},"componentType":"LABEL","groupIdentifier":"36399bf2-5b37-4a8e-9611-ee0bcad4914e"},{"identifier":"fb536968-923b-4382-bd35-e6f1cfd26100","instanceIdentifier":null,"name":null,"comments":null,"position":{"x":2254.420601501597,"y":546.3953141009856},"label":"Trigger sending an email from outage received from Kafka topic (You must set up an App Password if using smtp google mail)\n\nRUN PutEmail ONCE","zIndex":null,"width":880.0,"height":40.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"36399bf2-5b37-4a8e-9611-ee0bcad4914e"}],"funnels":[{"identifier":"e22e8680-80fe-44da-b78e-296d9bf68e7c","instanceIdentifier":null,"name":null,"comments":null,"position":{"x":1995.1563110351562,"y":579.1122894287109},"componentType":"FUNNEL","groupIdentifier":"36399bf2-5b37-4a8e-9611-ee0bcad4914e"},{"identifier":"b661bb29-487f-4159-81a4-fa797aad0622","instanceIdentifier":null,"name":null,"comments":null,"position":{"x":-96.22915730923614,"y":581.0782292232866},"componentType":"FUNNEL","groupIdentifier":"36399bf2-5b37-4a8e-9611-ee0bcad4914e"},{"identifier":"31abc32a-cc2f-488f-9747-64e602bdac27","instanceIdentifier":null,"name":null,"comments":null,"position":{"x":2832.5391972884718,"y":786.7262697665507},"componentType":"FUNNEL","groupIdentifier":"36399bf2-5b37-4a8e-9611-ee0bcad4914e"}],"controllerServices":[{"identifier":"b3a01e31-7d4b-441c-bf95-bd3841340150","instanceIdentifier":null,"name":"HiveCatalogService","comments":null,"position":null,"type":"org.apache.nifi.services.iceberg.HiveCatalogService","bundle":{"group":"org.apache.nifi","artifact":"nifi-iceberg-services-nar","version":"1.23.2.2.3.11.0-9"},"properties":{"hadoop-config-resources":"#{CDPEnvironment}"},"propertyDescriptors":{"hive-metastore-uri":{"name":"hive-metastore-uri","displayName":"Hive Metastore URI","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"hadoop-config-resources":{"name":"hadoop-config-resources","displayName":"Hadoop Configuration Resources","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE"]}},"warehouse-location":{"name":"warehouse-location","displayName":"Default Warehouse Location","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"controllerServiceApis":[{"type":"org.apache.nifi.services.iceberg.IcebergCatalogService","bundle":{"group":"org.apache.nifi","artifact":"nifi-iceberg-services-api-nar","version":"1.23.2.2.3.11.0-9"}}],"annotationData":null,"scheduledState":"DISABLED","bulletinLevel":null,"componentType":"CONTROLLER_SERVICE","groupIdentifier":"36399bf2-5b37-4a8e-9611-ee0bcad4914e"},{"identifier":"5a4a9bbd-f23d-4149-9603-7552ca9850c8","instanceIdentifier":null,"name":"FreeFormTextRecordSetWriter","comments":null,"position":null,"type":"org.apache.nifi.text.FreeFormTextRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.23.2.2.3.11.0-9"},"properties":{"Character Set":"UTF-8","Text":" "},"propertyDescriptors":{"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Text":{"name":"Text","displayName":"Text","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.23.2.2.3.11.0-9"}}],"annotationData":null,"scheduledState":"DISABLED","bulletinLevel":null,"componentType":"CONTROLLER_SERVICE","groupIdentifier":"36399bf2-5b37-4a8e-9611-ee0bcad4914e"},{"identifier":"68d7766d-92c7-434d-bf9a-2b701c22de7c","instanceIdentifier":null,"name":"DBCPConnectionPool","comments":null,"position":null,"type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"1.23.2.2.3.11.0-9"},"properties":{"kerberos-password":"#{Kerberos Password}","dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"#{Impala Database Driver Class Name}","dbcp-min-evictable-idle-time":"30 mins","kerberos-principal":"#{Kerberos Principal}","Max Total Connections":"8","dbcp-max-conn-lifetime":"-1","Database Connection URL":"#{Database Connection URL}","dbcp-time-between-eviction-runs":"-1","Database User":"#{CDP Workload User}","dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"#{Impala Database Driver Location}","dbcp-max-idle-conns":"8","Password":"#{CDP Workload User Password}"},"propertyDescriptors":{"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true,"resourceDefinition":null},"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY","URL"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"resourceDefinition":null}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.23.2.2.3.11.0-9"}}],"annotationData":null,"scheduledState":"DISABLED","bulletinLevel":null,"componentType":"CONTROLLER_SERVICE","groupIdentifier":"36399bf2-5b37-4a8e-9611-ee0bcad4914e"},{"identifier":"3e5eaac0-2e8f-4c65-96f6-e4ffd7cdab0c","instanceIdentifier":null,"name":"KerberosPasswordUserService","comments":null,"position":null,"type":"org.apache.nifi.kerberos.KerberosPasswordUserService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kerberos-user-service-nar","version":"1.23.2.2.3.11.0-9"},"properties":{"Kerberos Principal":"#{CDP Workload User}","Kerberos Password":"#{CDP Workload User Password}"},"propertyDescriptors":{"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Kerberos Password":{"name":"Kerberos Password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true,"resourceDefinition":null}},"controllerServiceApis":[{"type":"org.apache.nifi.kerberos.KerberosUserService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.23.2.2.3.11.0-9"}}],"annotationData":null,"scheduledState":"DISABLED","bulletinLevel":null,"componentType":"CONTROLLER_SERVICE","groupIdentifier":"36399bf2-5b37-4a8e-9611-ee0bcad4914e"},{"identifier":"df75b32a-b734-4274-9191-3864e71ac73b","instanceIdentifier":null,"name":"JsonRecordSetWriter","comments":null,"position":null,"type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.23.2.2.3.11.0-9"},"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.23.2.2.3.11.0-9"}}],"annotationData":null,"scheduledState":"DISABLED","bulletinLevel":null,"componentType":"CONTROLLER_SERVICE","groupIdentifier":"36399bf2-5b37-4a8e-9611-ee0bcad4914e"},{"identifier":"091bc6d6-6d63-4805-9a62-6fc32251e7c3","instanceIdentifier":null,"name":"JsonTreeReader","comments":null,"position":null,"type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.23.2.2.3.11.0-9"},"properties":{"schema-branch":null,"schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.23.2.2.3.11.0-9"}}],"annotationData":null,"scheduledState":"DISABLED","bulletinLevel":null,"componentType":"CONTROLLER_SERVICE","groupIdentifier":"36399bf2-5b37-4a8e-9611-ee0bcad4914e"},{"identifier":"99c107a9-8fdf-4de7-b1fd-f52b36e9f6c7","instanceIdentifier":null,"name":"CSVReader","comments":null,"position":null,"type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.23.2.2.3.11.0-9"},"properties":{"ignore-csv-header":"false","schema-branch":null,"Trim double quote":"true","CSV Format":"custom","Quote Character":"\"","csvutils-allow-duplicate-header-names":"true","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Skip Header Line":"false","Trim Fields":"true","schema-name":"${schema.name}","schema-registry":null,"csv-reader-csv-parser":"commons-csv","Time Format":null,"Comment Marker":null,"schema-access-strategy":"infer-schema","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}"},"propertyDescriptors":{"ignore-csv-header":{"name":"ignore-csv-header","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Trim double quote":{"name":"Trim double quote","displayName":"Trim double quote","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"csvutils-allow-duplicate-header-names":{"name":"csvutils-allow-duplicate-header-names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Skip Header Line":{"name":"Skip Header Line","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"resourceDefinition":null},"csv-reader-csv-parser":{"name":"csv-reader-csv-parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"resourceDefinition":null}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.23.2.2.3.11.0-9"}}],"annotationData":null,"scheduledState":"DISABLED","bulletinLevel":null,"componentType":"CONTROLLER_SERVICE","groupIdentifier":"36399bf2-5b37-4a8e-9611-ee0bcad4914e"}],"versionedFlowCoordinates":null,"variables":{},"parameterContextName":"ElectricUtilitiesDemo","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","logFileSuffix":null,"flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":null},"externalControllerServices":null,"parameterProviders":null,"parameterContexts":{"ElectricUtilitiesDemo":{"identifier":"c8e35540-030b-4a3c-a721-75000539ceb0","instanceIdentifier":null,"name":"ElectricUtilitiesDemo","comments":null,"position":null,"parameters":[{"name":"Alerts Email Recipient","description":null,"sensitive":false,"provided":false,"value":"ktalbert@cloudera.com"},{"name":"CDP Workload User","description":null,"sensitive":false,"provided":false,"value":"ktalbert"},{"name":"Alerts Email","description":null,"sensitive":false,"provided":false,"value":"nifialerts@gmail.com"},{"name":"CDPEnvironment","description":"The CDP Environment configuration resources","sensitive":false,"provided":false,"value":null},{"name":"Kerberos Password","description":null,"sensitive":true,"provided":false,"value":null},{"name":"CDP Workload User Password","description":null,"sensitive":true,"provided":false,"value":null},{"name":"Kafka Broker Endpoints","description":null,"sensitive":false,"provided":false,"value":"enterprise-kafka-corebroker2.go01-dem.ylcu-atmi.cloudera.site:9093, enterprise-kafka-corebroker1.go01-dem.ylcu-atmi.cloudera.site:9093, enterprise-kafka-corebroker0.go01-dem.ylcu-atmi.cloudera.site:9093"},{"name":"Alerts Email Password","description":"Use App password in google","sensitive":true,"provided":false,"value":null},{"name":"Database Connection URL","description":null,"sensitive":false,"provided":false,"value":"jdbc:impala://coordinator-impala-iceberg.dw-go01-demo-aws.ylcu-atmi.cloudera.site:443/default;AuthMech=3;transportMode=http;httpPath=cliservice;ssl=1;UID=ktalbert;PWD=PASSWORD"},{"name":"Alerts Email Username","description":null,"sensitive":false,"provided":false,"value":"nifialerts@gmail.com"},{"name":"Kerberos Principal","description":null,"sensitive":false,"provided":false,"value":"ktalbert"},{"name":"Impala Database Driver Location","description":"Usually com.cloudera.impala.jdbc.Driver but refer to the JDBC driver documentation. You can download the driver and documentation from \nhttps://www.cloudera.com/downloads/connectors/impala/jdbc/2-6-32.html","sensitive":false,"provided":false,"value":null},{"name":"Impala Database Driver Class Name","description":"Usually com.cloudera.impala.jdbc.Driver but refer to the JDBC driver documentation. You can download the driver and documentation from \nhttps://www.cloudera.com/downloads/connectors/impala/jdbc/2-6-32.html","sensitive":false,"provided":false,"value":"com.cloudera.impala.jdbc.Driver"}],"inheritedParameterContexts":null,"description":null,"parameterProvider":null,"parameterGroupName":null,"synchronized":null,"componentType":"PARAMETER_CONTEXT","groupIdentifier":null}},"flowEncodingVersion":null,"flow":null,"bucket":null}